<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">© HypeR 2022</span>
  </div>
</footer>
<script src="/jquery/dist/jquery.min.js" defer></script>
<script src="/bootstrap/dist/js/bootstrap.min.js" defer></script>