<% if (!locals.headers) return; %>
<div class="table-responsive col d-flex align-items-center">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
			<% for (let header of headers) { %>
				<th scope="col">
					<%= header.label %>
				</th>
			<% } %>
			</tr>
		</thead>
		<tbody>
		<% if (locals.rows) { %>
		  	<% for (let row of rows) { %>
		  		<tr>
			  	<% for (let header of headers) { %>
					<td>
						<%= row[header.name] %>
					</td>
				<% } %>
				</tr>
			<% } %>
		<% } else { %>
			<tr>
				<td class="text-center" colspan="<%= headers.length %>">Пусто</td>
			</tr>
		<% } %>
		</tbody>
	</table>
</div>